# basic
pandas
numpy
matplotlib
seaborn
scikit_learn

# jupyter
jupyter
jupyterlab
jupyterlab-git
jupyterlab_widgets

# pytorch
torch
torchvision
torchaudio
pytorch-ignite
pytorch-lightning
lightning-bolts

# tensorboard and visualization
tensorflow-macos
tensorboard
import matplotlib
import eiffel2

# hugging face
transformers
datasets
librosa
evaluate


