pandas
numpy
matplotlib
seaborn

jupyter
jupyterlab
jupyterlab-git
jupyterlab_widgets

torch
torchvision
torchaudio
pytorch-ignite
pytorch-lightning
lightning-bolts

tensorboard

transformers
datasets
