# basic
pandas
numpy
matplotlib
seaborn
scikit_learn

# jupyter
jupyter
jupyterlab
jupyterlab-git
jupyterlab_widgets

# pytorch
torch
torchvision
torchaudio
pytorch-ignite
pytorch-lightning
lightning-bolts

# tensorboard
tensorflow-macos
tensorboard

# hugging face
transformers
datasets
